<div class="mb-3">
  <label class="form-label" for="{{ field_id }}">{{ label }}</label>
  <input{% if input_type %} type="{{ input_type }}"{% endif %}
         id="{{ field_id }}"
         name="{{ name }}"
         class="form-control"
         {% if required %}required{% endif %}
         {% if autocomplete %}autocomplete="{{ autocomplete }}"{% endif %}
         {% if minlength is defined and minlength %}minlength="{{ minlength }}"{% endif %}
         {% if value is defined and value %}value="{{ value }}"{% endif %}>
</div>
