{# name: profile | password | hammerhead | garmin | strava | wahoo | connection #}
{% if name == 'strava' %}
<img src="/static/icons/settings/strava.png" class="getsync-settings-nav-img" width="20" height="20" alt="" aria-hidden="true">
{% elif name == 'hammerhead' %}
<img src="/static/icons/settings/hammerhead.png" class="getsync-settings-nav-img" width="20" height="20" alt="" aria-hidden="true">
{% elif name == 'garmin' %}
<img src="/static/icons/settings/garmin.png" class="getsync-settings-nav-img" width="20" height="20" alt="" aria-hidden="true">
{% elif name == 'wahoo' %}
<img src="/static/icons/settings/wahoo.png" class="getsync-settings-nav-img" width="20" height="20" alt="" aria-hidden="true">
{% elif name == 'profile' %}
<i class="bi bi-person getsync-settings-nav-icon getsync-settings-nav-icon--profile" aria-hidden="true"></i>
{% elif name == 'password' %}
<i class="bi bi-lock getsync-settings-nav-icon getsync-settings-nav-icon--password" aria-hidden="true"></i>
{% elif name == 'connection' %}
<i class="bi bi-plug getsync-settings-nav-icon getsync-settings-nav-icon--connection" aria-hidden="true"></i>
{% endif %}
