<div class="dropdown">
  <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button"
          id="siteLangDropdown" data-bs-toggle="dropdown" aria-expanded="false"
          aria-label="{{ t.nav_language }}">
    {% for opt in landing_lang_options(lang) %}
    {% if opt.selected %}{{ opt.label }}{% endif %}
    {% endfor %}
  </button>
  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="siteLangDropdown">
    {% for opt in landing_lang_options(lang) %}
    <li>
      <a class="dropdown-item{% if opt.selected %} active{% endif %}" href="/?lang={{ opt.value }}">{{ opt.label }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
